*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(195, 190, 190);
}
.Nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: navy;
}

.logo{
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.text{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.user{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}